@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,300&display=swap");

.heading-container-text {
  background-color: #79a9d1;
  width: 80%;
  text-align: left;
  margin-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 4%;
  border-radius: 5%;

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
}
.input-group {
  margin-top: 1%;
}

.card-container {
  padding: 1.5%;
  width: 70%;
}
.card-body {
  /* background-color: #7D8CA3; */
  background-color: #a0d2eb;

  margin-top: 1%;
  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }
}

.footer {
  padding-top: 8px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343b3c;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
